/***************************
        Dojo Css
***************************/
/**{
  border: 1px solid black;
}*/

main{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
}

nav{
  position: relative;
  display: inline-block;
  margin-top: 3vmin;
  font-size: 1.7vmin;
}

ul {
  display: flex;
  padding-left: 0;
}

li {
  list-style: none;
  margin-right: 5vmin;
}

.nav{

  margin-top: 0;
}

.nav li:hover .snav{
  display: block;
}

.snav{
  position: absolute;
  display: none;
  background-color: #486c8c;
  font-size: 1.5vmin;
  color: white;
  border-radius: 3px;
  z-index: 2;
}

.snav li{
  margin: 0.7vmin;
}

#logomenu{
  display: none;
}

#blue{
 color: #486c8c;
}

.title{
  text-align: center;
  background-image: url("./img/bg.jpg");
  height : 50vmin;
  background-position: center center;
  z-index: 1;
}

h4{
  flex: 2;
  margin-top: 3vmin;
  font-size: 3.5vmin;
}
.second_text{
  height: 20vmin;
  text-align: center;
}

.second_text h2{
  margin-top: 2vmin;
  font-size: 3vmin;
}

.second_text p{
  margin-top: -1vmin;
  font-size: 2vmin;
}

.blue {
  color: #486c8c;
}

.grey {
  color: #bbbbae;
}

button {
  margin: auto;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #486c8c;
  padding: 2vmin;
  font-size: 1.5vmin;
}


.ok{
  margin-top: 15vmin;
  color: white;
  font-size: 4vmin;

}

.logo {
  margin: 0px auto 0px auto;
  width: 15vmin;
  height: 15vmin;

}

.last_section {
  display: flex;
  flex-flow: row wrap;

}

.last_section h3{
  font-size: 2vmin;
}

.last_section p{
  font-size: 2vmin;
}

.last_section article{
  margin: 0px auto 0px auto;
  display:flex;
  flex-direction: column;
  align-content:center;
  text-align:center;
  width: 600px;
}

input{
  display: none;
}

label{
  display: none;
}

/*quand on reduit la fenetre*/

/*-------MENU LATERAL SLIDE-------------------------------*/

@media screen and (max-width: 640px) {


  nav{
    margin-top: -2.5vmin;
    margin-left: -200px;
    transition: 1s;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: lightblue;
    text-align: center;
    z-index: 2;
    font-size: 3vmin;
  }

  nav:hover{
  transition: 1s;
  margin-left: -2vmin;
}
  .nav{
    display: block;
    padding-top: 25vmin;
    color: white;
  }

  li {
    margin-top: 1vmin;
    display: block;
    padding: 3vmin 0vmin 3vmin 0vmin;
    width: 99%;
  }

.snav{
  position: relative;
  margin-top: 3vmin;
  display: none;
  width: 99.8%;
  background-color: lightblue;

}

li:hover{
  color: #486c8c;
}

 .snav li:hover{
  color: lightblue;
 }
.snav li {
  width: 100%;
  font-size: 2.5vmin;
  background-color: #486c8c;
}
/*--------------------------------------------------*/
/*--------MENU ICONE DEROULANT--------------------*/

  /*#logomenu{
    display: inline-block;
    float: right;
    margin-top: -12vmin;
  }*/

  /*label {
    float: right;
    margin-top: -9vmin;
    display: inline-block;
  }

  #toggle:checked~ nav{
    display: block;
  }

  nav{
    display: none;
    width: 99.5%;
  }

  header {
    text-align: center;
    display: inline-block;
  }

  ul{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 3vmin;
    display: block;
    width: 100%;

  }
  li{
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #486c8c;
  }

  li:hover{
    color: black;
    background-color: lightblue;
  }

  .snav{
    position: relative;
    margin-top: 1vmin;
    margin-left: -0.2%;
    width: 99.8%;
    background-color: #486c8c;
    border:1px solid black;

  }
  .snav li{
    margin: inherit;
    width: 99.8%;
    font-size: 3vmin;
    color: white;
}*/

/*------------------------------------------------*/
